{% extends 'security/base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block form %}
    {{ form_start(registrationForm, {'attr': {'class': 'form-connexion'}}) }}
        <h1>Inscription</h1>

        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <div class="alert alert-danger">
            {{ form_errors(registrationForm.username) }}
            {{ form_errors(registrationForm.email) }}
            {{ form_errors(registrationForm.password.first) }}
            {{ form_errors(registrationForm.password.second) }}
        </div>

        {{ form_widget(registrationForm.username) }}

        {{ form_widget(registrationForm.email) }}

        {{ form_widget(registrationForm.password.first) }}

        {{ form_widget(registrationForm.password.second) }}

        <button type="submit" class="btn">S'inscrire</button>
    {{ form_end(registrationForm) }}
{% endblock %}
