{% extends 'kanji/base.html.twig' %}

{% block title %}Kanji{% endblock %}

{% block body %}
    <div class="container-kanji">
        <h1>Kanji</h1>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <table class="table mt-4">
            <thead>
            <tr>
                <th scope="col">Signe</th>
                <th scope="col">Rōmaji</th>
                <th scope="col">Description</th>
                <th scope="col">Traduction</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th scope="col">Actions</th>
                    <th scope="col">
                        <a href="{{ path('kanji_ajouter') }}"><i class="fa-solid fa-plus"></i></a>
                    </th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for kanji in kanjis %}
                <tr>
                    <td>{{ kanji.signe }}</td>
                    <td>{{ kanji.romaji }}</td>
                    <td>{{ kanji.description }}</td>
                    <td>{{ kanji.traduction }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ path('kanji_modifier', {'id': kanji.id}) }}"><i class="fa-solid fa-pen"></i>️</a>
                            <a href="{{ path('kanji_supprimer', {'id': kanji.id}) }}" onclick="confirm('Êtes-vous sûr(e) ?');"><i class="fa-solid fa-trash"></i>️</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
