{% extends 'quiz/base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
    <div class="container-quiz">
        <div class="header-quiz">
            <h1>Quiz : {{ quiz.libelle }}</h1>
            <p>Question <span id="number-question"></span>/{{ quiz.nombreQuestion }}</p>
        </div>
        <div class="container-question">
            <div id="quiz-question"></div>
            <div>
                <label>Rōmaji : </label>
                <input id="quiz-answer" type="text" style="width: {{ quiz.type == 'mot' or quiz.type == 'expression' ? '10' : '3' }}rem">
            </div>
            <button id="quiz-validate">Valider</button>
        </div>
        <div class="container-result" style="display: none;">
            <div class="block-result">Votre score est de : <span id="answer-valid"></span>/{{ quiz.nombreQuestion }}</div>
            <div id="questions-result-list">

            </div>
        </div>
    </div>
    {# @TODO add list of kanji for user + add level of learning completion to a kanji/word/expression #}
    <script type="text/javascript">
        let questions = JSON.parse("{{ questions|json_encode|escape('js') }}");
        let currentQuestion = 1;
        let result = 0;
        let responseUser;
        initializeQuestion();

        document.getElementById('quiz-validate').addEventListener('click', () => {
            responseUser = document.getElementById('quiz-answer').value;
            let isCorrect = responseUser === questions[currentQuestion - 1].romaji;
            if (isCorrect) {
                result++;
            }
            addQuestionToSummary(isCorrect);
            if (questions[currentQuestion] === undefined) {
                 displayEndQuiz();
            } else {
                 currentQuestion++;
                 initializeQuestion()
            }
        });

        function initializeQuestion() {
            let question = questions[currentQuestion - 1];
            document.getElementById('number-question').textContent = currentQuestion.toString();
            document.getElementById('quiz-answer').value = '';
            document.getElementById('quiz-question').textContent = question.signe;
        }

        function displayEndQuiz() {
            document.getElementsByClassName('container-question')[0].style.display = 'none';
            document.getElementById('answer-valid').textContent = result.toString();
            document.getElementsByClassName('container-result')[0].style.display = 'block';
        }

        function addQuestionToSummary(isCorrect) {
            let question = questions[currentQuestion - 1];
            let htmlToAdd = `<div class="question-result ${isCorrect ? 'true' : 'false'}">
                <h4>${question.signe}</h4>
                <span>${(isCorrect ? '' : responseUser + ' ≠ ') + question.romaji}</span>
            </div>`;
            document.getElementById('questions-result-list').innerHTML += htmlToAdd;
        }
    </script>
{% endblock %}
