<nav class="navbar-app">
    <a class="navbar-brand" href="{{ path('app_index') }}">
        <img class="nav-logo" src="{{ asset('images/logo_v2.svg') }}" alt="Logo">
    </a>
    <div class="block-logo-menu">
        <ul>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_index') }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_signe', {'signe': 'hiragana'}) }}">Hiragana</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_signe', {'signe': 'katakana'}) }}">Katakana</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('kanji_index') }}">Kanji</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('lexique_index') }}">Lexique</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('quiz_index') }}">Quiz</a>
            </li>
        </ul>
        {% if app.user != null %}
            <div class="dropdown">
                <button class="dropdown-button">
                    <i class="fa-regular fa-user" style="font-size: 1rem"></i>
                    <span>{{ app.user.username }}</span>
                    <i class="fa-solid fa-caret-down" style="font-size: 1rem"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{{ path('app_profil') }}">Mon espace</a>
                    <a href="{{ path('app_deconnexion') }}">Déconnexion</a>
                </div>
            </div>
        {% else %}
            <a href="{{ path('app_connexion') }}">
                <button class="button-connection">Se connecter</button>
            </a>
        {% endif %}
    </div>

</nav>