{% extends 'lexique/base.html.twig' %}

{% block title %}Lexique{% endblock %}

{% block body %}
    <div class="container-lexique">
        <h1>Lexique</h1>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="container-table-lexique">
            <ul>
                <li id="tab-mot" style="border-right: 1px solid #EDF2F4;border-top-left-radius: 10px;">Mots</li>
                <li id="tab-expression" style="border-top-right-radius: 10px;">Expressions</li>
            </ul>
            <table id="table-mots" class="table mt-4">
                <thead>
                <tr>
                    <th scope="col">Kanji</th>
                    <th scope="col">Rōmaji</th>
                    <th scope="col">Traduction</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th scope="col">Actions</th>
                        <th scope="col">
                            <a href="{{ path('lexique_ajouter') }}"><i class="fa-solid fa-plus"></i></a>
                        </th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                    {% for mot in mots %}
                        <tr>
                            <td>{{ mot.kanji }}</td>
                            <td>{{ mot.romaji }}</td>
                            <td>{{ mot.traduction }}</td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td>
                                    <a href="{{ path('lexique_modifier', {'id': mot.id}) }}"><i class="fa-solid fa-pen"></i>️</a>
                                    <a href="{{ path('lexique_supprimer', {'id': mot.id}) }}" onclick="confirm('Êtes-vous sûr(e) ?');"><i class="fa-solid fa-trash"></i>️</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table id="table-expressions" class="table mt-4" style="display: none">
                <thead>
                <tr>
                    <th scope="col">Kanji</th>
                    <th scope="col">Rōmaji</th>
                    <th scope="col">Traduction</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th scope="col">Actions</th>
                        <th scope="col">
                            <a href="{{ path('lexique_ajouter') }}"><i class="fa-solid fa-plus"></i></a>
                        </th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                        {% for expression in expressions %}
                            <tr>
                                <td>{{ expression.kanji }}</td>
                                <td>{{ expression.romaji }}</td>
                                <td>{{ expression.traduction }}</td>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <td>
                                        <a href="{{ path('lexique_modifier', {'id': expression.id}) }}"><i class="fa-solid fa-pen"></i>️</a>
                                        <a href="{{ path('lexique_supprimer', {'id': expression.id}) }}" onclick="confirm('Êtes-vous sûr(e) ?');"><i class="fa-solid fa-trash"></i>️</a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}
